@{
    ViewData["Title"] = "Home Page";
}
@model WebApplication8.Models.login;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <input type="button" value="Login" onclick="window.location='@Url.Action("login", "Home")'"/>
    <p>Hello, welcome to soft solutions</p>
    <p>Paragraph 2</p>
    <p>Paragraph 3</p>
    <p>Paragraph 4</p>

</div>





