@{
    ViewData["Title"] = "Home Page";
}
@model WebApplication8.Models.login;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <input type="button" value="Login" onclick="window.location='@Url.Action("login", "Home")'"/>
    <p>Hello, welcome to soft solutions</p>
    <p>Paragraph 2</p>
    <p>Paragraph 3</p>
    <p>Paragraph 4</p>

</div>


//To save change 
1. git add .  (or)  git add -a
2. git status
3. git commit -m "Type the message you want"

//To know in which branch you are located
1. git branch   (or)    git status

//To go into another branch
1. git checkout branchName

//To create a new branch and move into the new branch
1. git checkout -b branchName



