@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{

    @model WebApplication8.Models.login;

    string login = "";
    string password = "";

    <form asp-action="CheckCredentials" asp-controller="Home" method="post">
        LoginId:
        @Html.TextAreaFor(l => l.loginId);
        Password:
        @Html.TextAreaFor(l => l.password);
        <input type="submit" value="Submit" />
    </form>
    <p style="color:red">@ViewBag.errorMessage</p>
}
