@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{

    @model WebApplication8.Models.user;

    var name = ViewBag.name;

    ViewData["title"] = "Customer Dash";
    <h1>Customer Dashboard</h1>
    <h3>Sales metrics</h3>
    <p>Welcome  @name</p>
}
